body{
    background-color: black;
    color:whitesmoke;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     height: 100vh;
    }

header{
    background-color: rgba(236, 189, 122, 0.822);
}

footer{
    text-align: center;
    
}
nav{
    text-align: end;
    
}
a{
    color: black;
}
main{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 200px;
    
}
section {
    margin-bottom: 50px; 
}
